@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.viewPage {
    .container {
        max-width: $container-max-width;
        margin: 0 auto;
        padding: 0 $base-size-16 4rem;

        @include respond-to(md) {
            padding: 0 $base-size-16 2rem;
        }
    }
}

.toolbarActionsInline {
    display: none;

    @include respond-to(md) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: $base-size-16;
    }
}

.content {
    margin: 0 auto;
}

.loading {
    min-height: 400px;
}
